html {
    scroll-behavior: smooth;
    background-color: #111111;
}

body {
    /*background-color: #f4a460;*/
    color: black;
    width: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    /*background-color: #f8c366;*/
    min-height: 100vh;
    text-align: center;
}

#landing-title {
    font-size: 3.2rem;
    margin: 0;
}

#landing-desc {
    display: inline;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
}

#landing-about {
    font-size: 1rem;
}

#page-landing {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: url(../images/mountainsBackground.jpg);
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#landing-bkg {
    margin: auto;
    width: fit-content;
    max-width: 40vw;
    padding: 40px;
    border-radius: 8px;
    background-color: #ffffff;
}

#projects {
    width: 100%;
    background: linear-gradient(240deg, purple, orange);
    text-align: start;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}

#project-title {
    margin: 0;
    padding-top: 20px;
    padding-left: 32px;
}

#projects a {
    text-decoration: none;
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    margin: 2rem;
}

.project-banner {
    min-width: 40%;
    height: 250px;
    transition: 0.4s;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
}

.project-banner:hover {
    cursor: pointer;
}

.blue {
    background-color: royalblue;
}

.red {
    background-color: hotpink;
}

.green {
    background-color: rgb(249, 249, 200);
}

.project-banner p {
    margin: 0;
}

.project-banner h3 {
    font-size: 34px;
}

footer {
    background-color: #111111;
    color: white;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
}

#contact {
    display: block;
    text-align: center;
    padding-top: 10px;
    justify-content: center;
}

#contact p {
    margin: 0;
}

.email {
    color: #ddddff;
    font-size: 24px;
    margin-right: 0;
    text-decoration: none;
}

#landing-icons {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 12px;
}

#landing-icons button {
    font-size: 48px;
    border: 0.2px solid black;
    padding: 10px 25px;
    background-color: #fffbf2;
    color: black;
    cursor: pointer;
    transition: color 0.8s ease, background-color 0.8s ease;
    margin: 0 5px;
    border-radius: 5px;
}

#landing-icons button:hover {
    background-color: black;
    color: white;
}

.underline {
    text-decoration: underline;
}

.fmedium {
    font-size: 18px;
}

/*Macbook & Large Laptop*/
@media screen and (max-width: 1500px) {
    
}

/*Normal Laptop*/
@media screen and (max-width: 1200px) {
    
}

/* TODO - set up mobile
Mobile*/
@media screen and (max-width: 700px) {
    #nav-main {
        display: none;
    }

    #nav-drop {
        display: inline-block;
    }

    .project-card p {
        font-size: 1rem;
    }
}